* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f7fa;
}

.title {
  color: #5c6ac4;
  text-align: center;
  margin: 25px;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-row2 {
  display: flex;
  justify-content: left;
  gap: 100px;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 12.5px;
  display: block;
  margin-bottom: 20px;
  visibility: hidden;
}

.label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6386c2;
  background-color: #f5f7fa;
}

.emailinpbox,
.passwordinputbox {
  width: 250px;
}

button {
  background-color: #5c6ac4;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 480px;
  margin-top: 20px;
  margin-bottom: 50px;
}

footer {
  background-color: #5c6ac4;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6386c2;
  width: 200px;
  background-color: #f5f7fa;
}
